language: node_js
node_js:
- 8
deploy:
  provider: s3
  access_key_id: AKIAJNLLIELOWKUMGDPQ
  secret_access_key:
    secure: Bl0GtyIVirylIy1VEpG9fKUZ+x+EQLCPzR3xzVxmomy6cnCCWr2Ybbgei1xi9ZTFYMiArGkS0kJI62e1zYgWVckCd/Rm45zJJ9ZBssR7SyrtkYHlnT+sgP9wAqMF8au8bOj+wdWZM9TA5jabhnnGJc+l8dtf5L/k+NJ02lQFsDZPQEAmOFQF6Y/ulltHVkmiWwzyu/mOWPQe0QFLgATZk3d5JGbtehtyY+Y2IE0maUR/ZdqzxWDINlcOZ4J//Z6T1ZrH39hwrtEpPdgxKMPdt49ci4S012VdTzYIPAzfYLo+Ny4LE0R0pGMHoV4L8gXM50Fmn6Dh8qmG8dVCPh0T60YX4tVh3KZ3Z8YCzrze8Mq2wLJyfW29RcJeAkqYlAeFR8q7Sume/Y8J0D1n/eGD317+1Ph547ctrqdB/XUeAbpFmz0vKCjR6m7cxZUlWO+PIZdKN4Mhw8eafs2bZjs22Xah90dTkFAeO+mqXwE7DgqaqCwLSfkYQKbfZpHqWnvF15eczdkS9Vo0Pyx6Dze30/3Kig23F+aLNb6so3Vl7y+PZ1vq0BLT1RRdym/If31FChBSXGuNSQSR0eK9nFqqDDKDnaNDINqdtGJuQB3F71mwsPcOSGa8iRRWqE8yqmDyQQh/gXTbRMtJker42Ql6m3wYxTS5QlNLreQausBINsE=
  bucket: nearlyheadlessblogman.com
  local-dir: public
  on:
    repo: DogPawHat/headless-cms-demo
  skip_cleanup: true
  region: eu-west-1
script: yarn build
